.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  line-height: 40px;
  margin: 0 auto;
}

.about__intro,
.about__title,
.about__text {
  z-index: 1;
}

.about__intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 880px;
  gap: 40px;
  margin-bottom: 20px;
}

.about__img {
  width: 100px;
  height: 100px;
  opacity: 0.8;
  border-radius: 50%;
}

@media screen and (max-width: 1023px) {
  .about {
    max-width: 680px;
  }

  .about__title {
    font-size: 26px;
  }

  .about__img {
    width: 90px;
    height: 90px;
  }

  .about__text {
    font-size: 18px;
  }
}
